<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Questionário Adaptativo</title>
    <link rel="stylesheet" href="style.css">
    <link rel="stylesheet" href="{{ url_for ('static', filename='style.css') }}">
    <script src="{{ url_for('static', filename='script.js') }}"> </script>
</head>
<body>
    <header> 
        <a class="external" href="{{ url_for('inicia') }}"><h1>Questionário adaptativo IA</h1></a>
    </header>

    <main>
        <form action="/problema{{questao}}" method="POST">
            <label for="resposta1"><h2>Questão {{questao}}</h2></label>
            <label for="resposta1"><h3>{{pergunta}}</h3></label>
            <textarea name = "respostaAluno" id="respostaAluno" rows="5" cols="50"></textarea>
            <input type="submit" value="Enviar">
        </form>

        <aside>
            <a href="{{ url_for('problema', numeroQuestao = 1) }}">
                <input type="submit" value="1" {% if questao =='1' %}class="colore"{% endif %}>
            </a>
            <a href="{{ url_for('problema', numeroQuestao = 2) }}">
                <input type="submit" value="2" {% if questao =='2' %}class="colore"{% endif %}>
            </a>
            <a href="{{ url_for('problema', numeroQuestao = 3) }}">
                <input type="submit" value="3" {% if questao =='3' %}class="colore"{% endif %}>
            </a>
            <a href="{{ url_for('problema', numeroQuestao = 4) }}">
                <input type="submit" value="4" {% if questao =='4' %}class="colore"{% endif %}>
            </a>
            <a href="{{ url_for('problema', numeroQuestao = 5) }}">
                <input type="submit" value="5" {% if questao =='5' %}class="colore"{% endif %}>
            </a>
            <a href="{{ url_for('problema', numeroQuestao = 6) }}">
                <input type="submit" value="6" {% if questao =='6' %}class="colore"{% endif %}>
            </a>
        </aside>
        
        
        <h1 style="text-align: center;">
            {{ resposta }}
        </h1>
        <h1 id="statusColor" style="text-align: center">{{status}}</h1>

    </main>
        
    <footer>
        <h3><a class="external" href="https://github.com/LuisBrescia">Luis Brescia</a></h3>
    </footer>

</body>
</html>