* {margin: 0; padding: 0;}

/* * Path: FrontEnd\style.css */
li {list-style: none;}
.external {text-decoration: none; color: #174afb; padding: 0.5em; border: 1px solid #f0f0f0; border-radius: 5px}
.external:hover {background-color: #174afb; color: #fff; cursor: pointer;}
a[target='_blank'] {
    text-decoration: none; color: #174afb; padding: 0.5em; border: 1px solid #f0f0f0; border-radius: 5px
}
a[target='_blank']:hover {background-color: #174afb; color: #fff; cursor: pointer;}
  
body {font-family: Arial, Helvetica, sans-serif; font-size: 12px; color: #333; background-color: #fff; height: 720px;}

header {display: flex; justify-content: center; background-color: #f0f0f0; color: #333; padding: 10px; border-bottom: 1px solid #aaa;}

form {
    display: flex; justify-content: center;  
    height: 60%; align-items: center;
    background-color: #f0f0f0;
    width: 50%;
    margin: 2em auto;
    border: 1px solid #aaa;
    border-radius: 5px;
    padding: 1em;
    flex-flow: column nowrap; gap: 5em; 
}

main {display: flex; flex-flow: column wrap; justify-content: space-between; gap: 3em;}

aside {
    display: flex;
    justify-content: center;
    gap: 1em;
}

.colore {background-color: #174afb !important; color: #fff !important; cursor: pointer;}

textarea {border: 1px solid #aaa; border-radius: 5px; padding: 5px;}
[type="submit"] {
    background-color: #fff; width: 5em; height: 30px; 
    border: 1px solid #aaa; border-radius: 5px; padding: 5px;
    color: #174afb;
    font-weight: bolder;
}

[type="submit"]:hover {background-color: #174afb; color: #fff; cursor: pointer;}

.iniciaQuestionario { width: 100%; height: 100%; font-size: xx-large; padding: 2em;}
.mainIndex {background-color: #fff; border: none; padding: 0; width: 50%; margin: 20em auto;}

footer {
    background-color: #f0f0f0;  
    padding: 10px;
    text-align: center;
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    border-top: 1px solid #aaa;
}
